{% load static %}

<li class="media border rounded mb-3 p-3 container" id="{{ comment.id }}">
    <div class="mr-3 text-center">
        <div class="avatar-mini mb-1">
            <img src="{{ comment.author.avatar.url }}" alt="...">
        </div>

        <div id="rating">{{ comment.rating }}</div>

        {% if user.is_authenticated %}
        <div>
            <button type="button" class="btn btn-sm" data-action="like"><i class="fas fa-plus"></i></button>
            <button type="button" class="btn btn-sm" data-action="dislike"><i class="fas fa-minus"></i></button>
        </div>
        {% endif %}

    </div>

    <div class="media-body">
        <p class="text-break"> {{ comment.text }}</p>

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="CorrectAnswer{{ comment.id }}">
            {% if user.is_authenticated %}
                <label class="custom-control-label" for="CorrectAnswer{{ comment.id }}">Отметить как верный ответ</label>
            {% endif %}
        </div>

        <hr>
        <div class="">
            <small class="text-muted">Автор: <span class="text-primary">{{ question.author.nickname }}</span></small>
            <small class="text-muted">Опубликовано: {{ comment.creating_date }}</small>
        </div>
    </div>
</li>