<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center">
    <div class="toast error" role="alert" aria-live="assertive" aria-atomic="true"
         style="position: absolute; z-index: 999;" data-delay="3000">
        <div class="toast-body">
            Упс! Что-то пошло не так.
        </div>
    </div>
</div>

<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center">
    <div class="toast success" role="alert" aria-live="assertive" aria-atomic="true"
         style="position: absolute; z-index: 999;" data-delay="3000">
        <div class="toast-body">
            Профиль успешно сохранен
        </div>
    </div>
</div>