<div id="tagscloud">
    <h3>Облако тегов</h3>
    <div>
        <a href="#" class="card-link">Тег</a>
        <a href="#" class="card-link">Тег</a>
        <a href="#" class="card-link">Тег</a>
        <a href="#" class="card-link">Тег</a>
    </div>
</div>

<div class="mt-3" id="bestmembers">
    <h3>Лучшие пользователи</h3>
    <div>
        <ul class="list-unstyled">
            <li><a href="#">Пользователь</a></li>
            <li><a href="#">Пользователь</a></li>
            <li><a href="#">Пользователь</a></li>
            <li><a href="#">Пользователь</a></li>
            <li><a href="#">Пользователь</a></li>
        </ul>
    </div>
</div>