{% extends 'base.html' %}
{% load bootstrap4 %}

# что - input
# куда - action
# как - method="POST/GET" / enctype (multipart/form-data = ДЛЯ КАРТИНОК!!!, но универсальный)

{% block index %}
    <div class="col-sm-7">
        <h5 class="mb-3">Вход</h5>

        <form action="{% url 'login' %}" method="POST" enctype="" novalidate>
            {% csrf_token %}

            {% bootstrap_form form %}

            {% buttons %}
                <button type="submit" class="btn btn-primary">Вход</button>
            {% endbuttons %}
        </form>

        <div class="form-group row">
            <span class="offset-sm-3 pl-3"><a href="{% url 'signup' %}" >Зарегистрироваться</a></span>
        </div>
    </div>
{% endblock %}