{% extends "base.html" %}
{% load static %}

{% block index %}

    <!-- Question Post -->
    <div class="media">
        <div class="mr-3 text-center">
            <div class="avatar mb-1">
                <img src="{% static 'img/avatar.png' %}">
            </div>

            <span id="rating">{{ question.rating.rating }}</span>

            {% if user.is_authenticated %}
            <div>
                <button type="button" class="btn btn-sm"><i class="fas fa-plus"></i></button>
                <button type="button" class="btn btn-sm"><i class="fas fa-minus"></i></button>
            </div>
            {% endif %}

        </div>

        <div class="media-body">
            <h5 class="mt-0 mb-1"> {{ question.title }} </h5>
            <p class="text-break"> {{ question.text }} </p>

            <div class="mb-1">Теги:
                {% for tag in question.tags.all %}
                    <a href="{% url 'tag' tag=tag %}" class="text-decoration-none">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <hr>
    <!-- Comments -->
    <ul class="list-unstyled">
        {% for comment in comments %}
            {% include 'include/comment.html' with comment=comment %}
        {% empty %}
            <div class="alert alert-secondary" role="alert">
                Ответов нет
            </div>
        {% endfor %}
    </ul>

    <hr>
    <!-- Write your comment -->
    <form class="needs-validation" novalidate>
        <div class="form-group">
            <textarea class="form-control" id="FormTextArea" rows="4" placeholder="Введите ваш комментарий" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Ответить</button>
    </form>
{% endblock %}